@import url(https://fonts.googleapis.com/css?family=Montserrat);



:root {
    --bg: #000000;
    --clr-1: #00c2ff;
    --clr-2: #33ff8c;
    --clr-3: #ffc640;
    --clr-4: #e54cff;

    --blur: 1rem;
    --fs: clamp(3rem, 8vw, 7rem);
    --ls: clamp(-1.75px, -0.25vw, -3.5px);
}


/* ------------------------------------------------------------------- */

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    padding: 2vh;
}

/* -- Contact Animation Title */
.contact-header {
    position: relative;
    display: flex;
    align-items: center;
}

svg {
    display: block;
    font: 8em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #4D163D;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #63042b;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #BD0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #BD0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #dd991a;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

.underline {
    position: absolute; 
    left: 50%;
    bottom: 10px; 
    width: 100%; 
    height: 3px; 
    background-color: #750f33;
    transform: translateX(-50%); 
    animation: underline-animation 4.5s ease-in-out infinite; 
}

@keyframes underline-animation {
    0% {
        width: 0; 
        left: 50%; 
        transform: translateX(-50%); 
    }
    50% {
        width: 30%; 
        left: 50%; 
        transform: translateX(-50%); 
    }
    100% {
        width: 0; 
        left: 50%; 
        transform: translateX(-50%); 
    }
}




.contact-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 10vh; 
    padding: 2vh;
    margin: 10vh;
}

.informations-container,
.contact-container {
    background-color: #2A1A3A;
    padding: 2vh;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(82, 146, 63, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.295); 
    min-height: 60vh; 
    flex: 1; 
}


.contact-info strong{
    margin-left: 2vh;
    color: #ffdff8; 
}

.contact-info img{
    height: 6vh;
    margin: 0 3vh 3vh 3vh;
}


.contact-info p {
    font-size: 1.2em;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    color: #fff;
}

.contact-info p strong {
    font-size: 1.1em;
    margin-right: 10px;
}

.contact-info p:before {
    content: url('../../Images/Icons/location.png'); 
    margin-right: 10px;
}

.contact-info p:nth-child(2):before {
    content: url('../../Images/Icons/email.png'); 
    margin-right: 10px;
}

.contact-info p:nth-child(3):before {
    content: url('../../Images/Icons/phone.png'); 
    margin-right: 10px;
}


.contact-form .form-group {
    margin-bottom: 30px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #F2EEF3;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: #EDE9F0;
    color: #4A4A4A;
    transition: border-color 0.5s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #8B1E42;
    box-shadow: 0 0 10px rgba(139, 30, 66, 0.3);
    outline: none;
}

button {
    display: block;
    margin: 0 auto 8px auto; 
    width: 86%; 
    padding: 15px;
    background-color: #8B1E42;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.2s ease;
    font-family: 'Balance', Arial, Helvetica, sans-serif; 
    letter-spacing: 1.5px;
}

button p{
    font-size: 4vh;
}

button:hover {
    background-color: #a01745;
}


/* ----------------------------------------------------------------------------------------  CV Section */

.cv-button {
    flex: 1;
    padding: 15px;
    margin: 12% 6% 2% 6%; 
    border: none;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 4vh;
    transition: background-color 0.5s ease, transform 0.2s ease;
    font-family: 'Balance', Arial, Helvetica, sans-serif; 
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    text-align: center;
    white-space: nowrap;
}

.cv-button.view {
    background-color: #8B1E42;
}

.cv-button.view:hover {
    background-color: #AF335A;
}

.cv-button.download {
    background-color: #8B1E42;
}

.cv-button.download:hover {
    background-color: #AF335A;
}


