
.section-presentation {
    padding: 10vh 8vw;
    margin-left: 9vh;
    margin-right: 9vh;
}

.section-presentation .container {
    max-width: 1200px;
}

.section-presentation .text-box.large {
    padding: 5vh 4vw;
    border-radius: 2rem;
    color: #f0f0f0;
    font-size: 2.1vh;
    line-height: 1.8;
    background-color: #1e002b;
    border: 2px solid #632a56;
}

.section-presentation .text-box.large h2 {
    font-family: 'Balance', serif;
    font-size: 5.5vh; 
    margin-bottom: 2vh;
    color: #ffccd5;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}

.section-presentation .text-box.large p {
    margin-bottom: 3.5vh;
}

.section-presentation strong {
    color: #ffd5e1;
}


.section-experience-poursuite {
    padding: 1vh 5vw;
}

.section-experience-poursuite .container {
    display: flex;
    gap: 4vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.section-experience-poursuite .text-box {
    flex: 1 1 45%;
    background-color: #1e002b; 
    padding: 4vh 3vw;
    border-radius: 2rem;
    color: #fefefe;
    font-size: 2.1vh;
    line-height: 1.7;
    box-shadow: 0 0 30px rgba(117, 15, 51, 0.1);
    border: 2px solid #632a56;
}

.section-experience-poursuite .text-box h2 {
    font-family: 'Balance', serif;
    font-size: 4vh;
    color: #ffccd5;
    margin-bottom: 2vh;
}

.section-experience-poursuite .text-box ul {
    list-style-type: disc;
    padding-left: 2rem;
    margin-top: 2vh;
}

.section-experience-poursuite .text-box li {
    margin-bottom: 1vh;
}

.section-experience-poursuite .text-box.medium {
    line-height: 2; 
}

p {
    font-size: 2.5vh;
    line-height: 1.8;
}





.section-experience-poursuite .text-box.fusion {
    display: flex;
    flex-wrap: wrap;
    padding: 4vh 3vw;
    margin-left: 15vh;
    margin-right: 15vh;
    border-radius: 2rem;
    color: #fefefe;
    font-size: 2.3vh;
    line-height: 1.9;
    box-shadow: 0 0 30px rgba(117, 15, 51, 0.1);
    gap: 5vw;
    
}

.col1 {
    text-align: justify;
    flex: 1 1 45%;
    min-width: 300px;
    padding-right: 13vh;
}

.section-experience-poursuite .text-box.fusion h2 {
    font-family: 'Balance', serif;
    font-size: 4vh;
    color: #ffccd5;
    margin-bottom: 2vh;
    position: relative;
}

.section-experience-poursuite .divider {
    width: 3px;
    background-color: #ffd5e1;
    border-radius: 2px;
    margin: 0 1.5vw;
}







.section-options {
    text-align: justify;
    background-color: transparent;
    padding: 10vh 8vw;
    font-family: 'Roboto', sans-serif;
    color: #e4dbda;
    text-align: center;
}

.section-options h2 {
    font-family: 'Balance', serif;
    font-size: 4.2vh;
    margin-bottom: 6vh;
    position: relative;
    color: #dfd3d3;
}

.section-options h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #750f33;
    margin: 1.5vh auto 0;
    border-radius: 2px;
}

.options-container {
    display: flex;
    gap: 4vw;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap; 
    
}

.option {
    background-color: #170027;
    border: 2px solid #632a56;
    border-radius: 2rem;
    padding: 4vh 3vw;
    flex: 1 1 40%;
    box-shadow: 0 0 25px rgba(117, 15, 51, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-width: 300px;
    max-width: 550px;
    text-align: left;
}

.option:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 35px rgba(117, 15, 51, 0.25);
}

.option h3 {
    font-family: 'Balance', serif;
    font-size: 3vh;
    color: #ffccd5;
    margin-bottom: 2vh;
}

.option p {
    font-size: 2.2vh;
    line-height: 1.7;
    margin-bottom: 2vh;
}

.option ul {
    list-style: disc;
    padding-left: 2rem;
    margin-bottom: 2vh;
}

.option li {
    margin-bottom: 1vh;
}

.option strong {
    color: #ffccd5;
}

