/* Police d'écriture */
@font-face {
    font-family: 'Balance';
    src: url('../fonts/Balance.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sunflower';
    src: url('../fonts/Sunflowers.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



*{ 
    margin:0px; 
    padding:0px;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #0b001a;
    scroll-behavior: smooth;
    overflow-x: hidden; 
}





/*     ---    Header  ---  */

.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 14vh;
    padding: 20px;
    color: #e4dbda;

    background-color: #0b001a; 
}

    /* Ajout d'un trait coloré apres la navbar */
.navbar::after{ 
    position: absolute;
    content:"";
    bottom: 0;
    width: 78%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #750f33;
}

.navbar img {
    height: 10vh; 
    vertical-align: middle; 
    margin-left: 5vh;
}


.navbar ul{
    display: flex;
    align-items: center;
    height: 5vh;
    list-style-type: none;
}

.navbar ul li a{
    padding: 2vh;
    margin : 1vh;
    font-size: 2.5vh;
    text-decoration: none;
    color: #e4dbda;
}

.navbar ul li a:hover{
    border-radius: 5% ;
    background-color: #750f33;
}


h1 a{
    margin-right: 89vh;
    font-size: 4vh;
    text-decoration: none;
    color: #e4dbda;
}









/*   ---   Footer   ---   */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 5vh;
    padding-bottom: 2vh;
    text-align: center;
    background-color:#0b001a;
}

footer::before {
    content:"";
    position: absolute;
    width: 70%;
    height: 2.8px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #750f33;
}

.bloc-media {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    width: 100%;
}

.bloc-media ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 25%;
}

.bloc-media ul li {

}

.bloc-media ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #2e1228; 
}

.bloc-media ul li a img {
    width: 30px; 
    height: 30px; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.bloc-media ul li a:hover {
    transform: scale(1.1); 
    background-color: #750f33; 
}

.bloc-media ul li a:hover img {
    opacity: 0.8; 
}

.bloc-menu {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    width: 100%;
}

.bloc-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;

}

.bloc-menu ul li {
    margin: 0 15px;
}

.bloc-menu ul li a {
    position: relative;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 3vh;
    color: #e4dbda;
}

.bloc-menu ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    background-color: #750f33;
}

.bloc-menu ul li a:hover::before {
    visibility: visible;
    width: 100%;
}

.bloc-menu ul li a:hover {
    color: #750f33;
}

.bloc-copyright {
    margin-top: 4vh;
    color: #e4dbda;
}












/* ------------------------------------------------------ Background Part */

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2; /* Assure que le background soit bien à l'arrière-plan */
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 50%;
    backface-visibility: hidden;
    position: absolute;
    animation: move infinite linear;
    animation-duration: 30s;
}

.background span:nth-child(0) {
    color: #26114b;
    top: 48%;
    left: 8%;
    animation-duration: 107s;
    animation-delay: -21s;
    transform-origin: -10vw -20vh;
    box-shadow: -56vmin 0 7vmin currentColor;
}
.background span:nth-child(1) {
    color: #26114b;
    top: 41%;
    left: 59%;
    animation-duration: 165s;
    animation-delay: -17s;
    transform-origin: 5vw 24vh;
    box-shadow: 56vmin 0 7vmin currentColor;
}
.background span:nth-child(2) {
    color: #26114b;
    top: 10%;
    left: 51%;
    animation-duration: 54s;
    animation-delay: -139s;
    transform-origin: 25vw -1vh;
    box-shadow: -56vmin 0 7vmin currentColor;
}
.background span:nth-child(3) {
    color: #26114b;
    top: 35%;
    left: 21%;
    animation-duration: 58s;
    animation-delay: -165s;
    transform-origin: -3vw 13vh;
    box-shadow: -56vmin 0 7vmin currentColor;
}
.background span:nth-child(4) {
    color: #760f2e;
    top: 43%;
    left: 5%;
    animation-duration: 94s;
    animation-delay: -132s;
    transform-origin: 5vw 15vh;
    box-shadow: 56vmin 0 7vmin currentColor;
}
.background span:nth-child(5) {
    color: #760f2e;
    top: 24%;
    left: 73%;
    animation-duration: 70s;
    animation-delay: -176s;
    transform-origin: -18vw -20vh;
    box-shadow: 56vmin 0 7vmin currentColor;
}
.background span:nth-child(6) {
    color: #760f2e;
    top: 51%;
    left: 26%;
    animation-duration: 194s;
    animation-delay: -58s;
    transform-origin: -10vw 6vh;
    box-shadow: -56vmin 0 8vmin currentColor;
}
.background span:nth-child(7) {
    color: #760f2e;
    top: 95%;
    left: 42%;
    animation-duration: 86s;
    animation-delay: -149s;
    transform-origin: 8vw -20vh;
    box-shadow: -56vmin 0 7vmin currentColor;
}
.background span:nth-child(8) {
    color: #760f2e;
    top: 78%;
    left: 76%;
    animation-duration: 190s;
    animation-delay: -44s;
    transform-origin: -14vw 3vh;
    box-shadow: -56vmin 0 7vmin currentColor;
}
.background span:nth-child(9) {
    color: #26114b;
    top: 7%;
    left: 29%;
    animation-duration: 66s;
    animation-delay: -192s;
    transform-origin: -21vw -6vh;
    box-shadow: 56vmin 0 8vmin currentColor;
}
/* ------------------------------------    End  Background Part */

